<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emergency Compliments</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body style="background-color: <%= @colors %>;">

    <div class="container">

      <h1>Hey <%= @name %>,  </h1>
      <br>
      <br>

      <%= @compliments %>


    </div>

  </body>
</html>
